<div class="container">
    <div class="login-form">
        <div class="username-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite Vase Email Adresu</mat-label>
                <input [(ngModel)]="email" matInput placeholder="email@gmail.com">
            </mat-form-field>
        </div>
        <div class="password-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite Vasu Trenutnu Sifru</mat-label>
                <input [(ngModel)]="oldPassword" matInput placeholder="gdfagfdf295">
            </mat-form-field>
        </div>

        <div class="password-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite Vasu Novu Sifru</mat-label>
                <input [(ngModel)]="newPassword" matInput placeholder="moja-sifra-1295">
            </mat-form-field>
        </div>

        <div class="password-container">
            <mat-form-field class="full-width">
                <mat-label>Potvrdite Novu Sifru</mat-label>
                <input [(ngModel)]="repeatPassword" matInput placeholder="moja-sifra-1295">
            </mat-form-field>
        </div>

        <div class="button-container">
            <button class="button-primary" (click)="changePassword()" mat-raised-button color="primary">Promeni Sifru</button>
        </div>
    </div>