.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    height: 100%;
    width: 100%
}

.club-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 15px;
}