<div class="container">
    <div class="login-form">
        <div class="username-container">
            <mat-form-field class="full-width">
                <mat-label>Unesite Vasu Email Adresu</mat-label>
                <input [(ngModel)]="email" matInput placeholder="moj-email@gmail.com">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button class="button-primary" (click)="resetPassword()" mat-raised-button color="primary">Reset sifre</button>
        </div>
    </div>
</div>